body {
  font-family: "Montserrat", sans-serif; /* Replace 'Montserrat' with your chosen font name */
}

/* Header */
header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.7); /* Glass effect background */
  padding: 10px 20px; /* Adjust padding as needed */
  backdrop-filter: blur(5px); /* Apply blur effect */
  z-index: 1000; /* Ensure the header stays on top */
  -webkit-backdrop-filter: blur(10px); /* Apply blur effect for Safari */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); /* Add shadow effect */
}

/* Prevent default anchor tag styles */
a.clickable-div {
  text-decoration: none;
  color: inherit;
  display: block;
  cursor: pointer; /* Ensures cursor changes to pointer */
}

/* Ensure no underline or color change on hover, focus, and active states */
a.clickable-div:hover,
a.clickable-div:focus,
a.clickable-div:active {
  text-decoration: none;
  color: inherit;
}

/* Additional styles for the logo-container to maintain existing design */
.logo-container {
  display: flex;
  align-items: center; /* Center align items vertically */
}

.logo-container img {
  width: 40px; /* Adjust the width of the logo as needed */
  margin-right: 10px; /* Add spacing between the logo and the heading */
}

header h1 {
  margin: 0;
  font-weight: bold;
  color: inherit; /* Ensure the color inherits from the parent element */
}


h2 {
  margin-bottom: 10px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3); /* Add shadow effect */
}

p {
  margin-bottom: 20px;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3); /* Add shadow effect */
}

/* Media query for smaller screens */
@media screen and (max-width: 768px) {
  header {
    padding: 8px 12px; /* Reduce padding for smaller screens */
  }

  .logo-container img {
    width: 30px; /* Reduce logo size for smaller screens */
    margin-right: 8px; /* Reduce spacing for smaller screens */
  }

  header h1 {
    font-size: 18px; /* Reduce font size for smaller screens */
  }

  h2 {
    font-size: 16px; /* Reduce font size for smaller screens */
  }

  p {
    font-size: 14px; /* Reduce font size for smaller screens */
  }
}



/* Apply basic styling to the wrapper */
#wrapper {
  display: flex;
}






/* LEFT MENUUUUUUUUUUUUUUUUUUUUUUUUUUUUUUUUUUUUUUUUUUUUUUUUUUUUUUUUUUUUUUUUUUU */

#left-menu-new {
  margin-bottom: 0; /* Remove bottom margin */
  margin-top: 1.5%;
  display: block;
  position: fixed;
  top: 12%;
  left: 0;
  width: 20%;
  min-width: 200px;
  max-width: 300px;
  height: 75%;
  background-color: #ffffff;
  overflow-y: scroll; /* Changed from auto to scroll */
  z-index: 999;
  scrollbar-width: thin; /* Firefox */
}

/* WebKit (Chrome, Safari) */
#left-menu-new::-webkit-scrollbar {
  width: 12px;
}

/* Track */
#left-menu-new::-webkit-scrollbar-track {
  background: #f1f1f1; 
}

/* Handle */
#left-menu-new::-webkit-scrollbar-thumb {
  background: #888; 
  border-radius: 6px;
}

/* Handle on hover */
#left-menu-new::-webkit-scrollbar-thumb:hover {
  background: #555; 
}

/* Styling for individual categories */
.left-menu-category {
  width: 100%; /* Adjust width to fit the left menu */
  background: linear-gradient(to right, #1c3c6d, #3060a0); /* Elabram blue shading */
  color: #ffffff; /* Text color */
  padding: 20px;
  /* border-radius: 10px; */ /* Remove border-radius to make it a full box */
  text-align: center; /* Align text to the center */
  margin: 0 auto 20px; /* Center the category boxes and add bottom margin */
  cursor: pointer; /* Change cursor to pointer */
  transition: background-color 0.3s; /* Add transition for smooth hover effect */
  white-space: nowrap; /* Prevent text from wrapping */
  overflow: hidden; /* Hide overflow text */
  text-overflow: ellipsis; /* Show ellipsis (...) for overflow text */
  box-sizing: border-box; /* Include padding and border in the element's total width and height */
}

/* Hide submenus by default */
.subtopics-leftmenu {
  display: none;
  list-style-type: none; /* Remove bullet points */
}

/* On hover, change background color */
.left-menu-category:hover {
  background: #25578a; /* Darker shade of blue for hover effect */
}

/* Style for category titles */
.left-menu-category h3 {
  font-size: 14px; /* Adjust the font size as needed */
  margin-top: 0; /* Remove top margin from category titles */
}

/* Style for submenu items */
.subtopics-leftmenu li {
  width: 100%; /* Ensure submenu items occupy the full width of the left menu */
  margin-left: 0; /* Remove default left margin */
}

.subtopics-leftmenu li a {
  font-size: 13.5px; /* Adjust the font size as needed */
  color: #ffffff; /* Text color for submenu items */
  text-decoration: none; /* Remove underline */
  padding: 10px 20px; /* Add padding to create spacing */
  display: block; /* Ensure each item occupies the full width */
  text-align: left; /* Align text to the left */
  word-wrap: break-word; /* Allow long words to break and wrap onto the next line */
  white-space: normal; /* Allow text to wrap onto the next line */
}

/* Hover effect for submenu items */
.subtopics-leftmenu li a:hover {
  background-color: rgba(255, 255, 255, 0.1); /* Add a light background color on hover */
}

/* Show submenu when category is clicked */
.left-menu-category.clicked .subtopics-leftmenu {
  display: block;
}

/* Style for dropdown icons */
.left-menu-category .icon {
  float: right; /* Float the icons to the right */
  margin-left: 5px; /* Add margin between icon and text */
}

/* POPULAR ARTICLE SECTIONNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNN */
/* Styling for popular articles section */
#popular-articles {
  max-width: 1200px; /* Adjust max-width as needed */
  margin: 20px auto; /* Add margin for spacing */
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

/* Styling for popular article items */
#popular-articles-list {
  list-style-type: none; /* Remove bullet points */
  padding: 0;
  margin: 0;
  width: 100%; /* Ensure full width */
}

#popular-articles-list li {
  width: calc(50% - 10px); /* Adjust width for two-column layout with spacing */
  margin-bottom: 20px; /* Add bottom margin for spacing */
  background: linear-gradient(
    to right,
    #1c3c6d,
    #3060a0
  ); /* Elabram blue shading */
  color: #ffffff; /* Text color */
  padding: 15px;
  border-radius: 10px; /* Add border radius for rounded corners */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Add shadow for depth */
}

#popular-articles-list li a {
  color: inherit; /* Inherit text color */
  text-decoration: none; /* Remove underline */
}

#popular-articles-list li:hover {
  background-color: rgb(44, 111, 211); /* Darker shade on hover */
}

/* Media query for smaller screens */
@media screen and (max-width: 2900px) {
  #popular-articles-list li {
    width: 97%; /* Display one item per row on extra small screens */
  }
}

@media screen and (max-width: 756px) {
  #popular-articles-list li {
    width: 92%; /* Display one item per row on extra small screens */
  }
}





#main-content {
  margin-left: 20%; /* Leave space for the left menu */
  margin-top: 6.5%; /* Move the main content down to accommodate the header */
  width: 80%; /* Set the width of the main content to 80% of the viewport */
  height: 84%; /* Set the height of the main content to fill the remaining space */
  background-color: #ffffff; /* Background color of the main content */
}

/* Media query for mobile screens */
@media (max-width: 1000px) {
  #left-menu-new {
    display: none; /* Hide the left menu on mobile screens */
  }

  /* Adjust main content width to 100% on mobile screens */
  #main-content {
    margin-left: 0; /* Remove left margin */
    width: 100%; /* Set the width to 100% */
  }
}


/* Basic styling for knowledge base section */
#knowledge-base {
  max-width: 1200px; /* Adjust max-width as needed */
  margin: 0 auto;
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

/* Styling for individual categories */
.category {
  width: calc(25% - 20px); /* For large screens, display 4 boxes in a row */
  margin-bottom: 20px; /* Adjust spacing between categories */
  background: linear-gradient(
    to right,
    #1c3c6d,
    #3060a0
  ); /* Elabram blue shading */
  color: #ffffff; /* Text color */
  padding: 20px;
  border-radius: 10px;
}

.category i {
  margin-right: 8px; /* Adjust the margin to create space between the icon and text */
}

.category h2 {
  font-size: 1.5em;
  margin-bottom: 10px;
}

.category ul {
  list-style-type: none;
  padding: 0;
}

.category ul li {
  margin-bottom: 10px;
}

.category ul li a {
  text-decoration: none;
  color: #ffffff; /* Adjust link color */
}

.category ul li a:hover {
  text-decoration: underline;
}

/* Media query for smaller screens */
@media screen and (max-width: 992px) {
  #knowledge-base .category {
    width: calc(
      33.33% - 20px
    ); /* For medium screens, display 3 boxes in a row */
  }
}

@media screen and (max-width: 756px) {
  #knowledge-base .category {
    width: 100%; /* For extra small screens, display 1 box per row */
  }
}


#video-section {
  position: relative;
  height: 299px; /* Adjust the height of the video section */
}

#video-container {
  position: relative;
  width: 100%;
  height: 100%;
}

#video-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%; /* Set video width to cover the entire container */
  height: 100%; /* Set video height to cover the entire container */
  object-fit: cover; /* Ensure video covers the entire area */
}

.content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: #ffffff;
}

.content h2 {
  font-size: 3em;
  margin-bottom: 20px;
}

.content p {
  font-size: 1.5em;
}

@media only screen and (max-width: 600px) {
  #video-section {
    margin-top: 50px; /* Add more margin on top for mobile screens */
  }
}


/* Styling for navigation links */
nav ul li a {
  color: #ffffff;
  text-decoration: none;
  padding: 10px 20px; /* Added padding to create space */
  border-radius: 5px;
  background: linear-gradient(to right, #1c3c6d, #337cbf);
  /* Adjusting background and gradient */
}
nav ul {
  list-style-type: none;
  padding: 0;
  display: flex; /* Display list items horizontally */
}

nav ul li {
  margin-right: 20px; /* Adjust the spacing between items */
}

nav ul li:last-child {
  margin-right: 0; /* Remove margin from the last item */
}

nav ul li a {
  color: #ffffff;
  text-decoration: none;
  padding: 10px 15px; /* Adjust padding for smaller screens */
  border-radius: 5px;
  background: linear-gradient(to right, #1c3c6d, #3060a0);
}

/* Media query for smaller screen sizes */
/* Media queries for different screen sizes */
@media screen and (max-width: 992px) {
  nav ul li a {
    padding: 14px 17px; /* Adjust padding for medium screens */
    font-size: 0.8em; /* Adjust font size for medium screens */
  }
}

@media screen and (max-width: 768px) {
  nav ul li a {
    padding: 12px 16px; /* Adjust padding for small screens */
    font-size: 0.7em; /* Adjust font size for small screens */
  }
}

@media screen and (max-width: 576px) {
  nav ul li a {
    padding: 4px 8px; /* Adjust padding for extra small screens */
    font-size: 0.7em; /* Adjust font size for extra small screens */
    display: block; /* Change the display property to stack items vertically */
    margin-right: 0.2px; /* Reduce margin between navigation items on extra small screens */
  }
}

/* Styling for main content sections */
main {
  padding: 20px;
}

/* Styling for footer */
footer {
  position: fixed; /* Fix the footer at the bottom of the viewport */
  left: 0; /* Align the left edge of the footer with the left edge of the viewport */
  bottom: 0; /* Align the bottom edge of the footer with the bottom edge of the viewport */
  width: 100%; /* Take up the full width of the viewport */
  background-color: #337cbf; /* Fallback color */
  background-image: linear-gradient(to right, #1c3c6d, #337cbf);
  color: #ffffff;
  text-align: center;
  padding: 5px; /* Increase padding for better spacing on larger screens */
  font-size: 14px; /* Font size for larger screens */
}

/* Media query for smaller screens */
@media screen and (max-width: 768px) {
  footer {
    padding: 1px; /* Reduce padding for smaller screens */
    font-size: 4px; /* Reduce font size for smaller screens */
  }
  #KBsection {
    margin-top: 60px; /* Adjust the value as needed */
  }
}

/* KBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBB pages design for allllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllll */

#KBsection {
  margin-bottom: 50px; /* Adjust the value as needed */
}



/* Styling for chat bubble */
.chat-bubble {
  background-color: #337cbf; /* fallback color */
  background-image: linear-gradient(to right, #1c3c6d, #337cbf);
  color: #ffffff;
  padding: 10px 20px;
  border-radius: 20px;
  position: fixed;
  bottom: 20px;
  right: 20px;
  cursor: pointer;
  z-index: 9999;
  /* Box shadow for depth */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

/* Hover effect for chat bubble */
.chat-bubble:hover {
  /* Adjust shadow and brightness on hover */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  filter: brightness(110%);
}
#team {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.team-member {
  width: calc(25% - 20px); /* For large screens, display 4 boxes in a row */
  margin-bottom: 20px;
  background: linear-gradient(
    to right,
    #1c3c6d,
    #3060a0
  ); /* Elabram blue shading */
  color: #ffffff;
  padding: 20px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center; /* Center content horizontally */
  text-align: center; /* Center content vertically */
}

.team-member img {
  width: 71px;
  height: 71px;
  border-radius: 50%;
  margin-bottom: 10px;
  object-fit: cover;
  filter: grayscale(90%) brightness(110%) contrast(130%) hue-rotate(190deg) saturate(150%);
}


.team-member img::after {
  content: ''; /* Create overlay */
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(25, 118, 210, 0.5); /* Blue shade color with opacity */
  border-radius: 50%; /* Match image border-radius */
}

.member-details h3 {
  margin-top: 0;
}


/* Media query for smaller screens */
@media screen and (max-width: 992px) {
  .team-member {
    width: calc(
      33.33% - 20px
    ); /* For small screens, display 2 boxes in a row */
  }
}

@media screen and (max-width: 756px) {
  .team-member {
    width: 100%; /* For extra small screens, display 1 box per row */
  }
}
